// Global variables
@import "modules/variables.scss";

.block-editor-block-list__block {
    max-width: 1800px;
}

.block-editor-block-list__block:not(.is-selected) {

    @import "lib/bootstrap/bootstrap";
    
    // Reset and general styling
    @import "partials/base.scss";
    @import "partials/tools.scss";
    @import "partials/typography.scss";
    @import "partials/inputs.scss";
    @import "partials/buttons.scss";
    @import "partials/styling.scss";

    // Component specific styling
    @import "partials/components/header";
    @import "partials/components/not-found";
    @import "partials/components/footer";
    @import "partials/components/mobile-nav";
    @import "partials/components/blog";
    @import "partials/components/single-post";

    // Gutenberg
    //@import "partials/components/gutenberg/comparison";

    .card {
        max-width: 100%;
        padding: 0;
        border: none;
        background: transparent;
    }

    section {
        margin-top: 0 !important;
        padding-top: 0 !important;

        .slider {
            display: flex;
        }
    }
}