html {
    &.no-scroll {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
    }
}

body,
html {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-weight: 400;
    font-family: $font-body;
    font-size: 15px;
    color: $text;
}

* {
    box-sizing: border-box;
    outline: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 400;
    text-decoration: underline;
    color: $text;
}

ol {
    margin-bottom: $gutter-small;
}

ul,
ol {
    margin: 0 0 $gutter-small 0;
    padding: 0;

    li {
        margin: 0 0 0 20px;
        padding: 0;
    }
}

ol {
    margin-left: 10px;
}

p {
    margin: 0 0 $gutter-small 0;
}

.script-label {
    font-family: $font-script;
    transform: rotate(-5deg);
    position: absolute;
    font-size: 1.1rem;
}