@use '../../modules/variables' as variables;
@use '../../modules/mixins' as mixins;

.book__promo {
  padding: 20px 0;
  background: variables.$light-gray;
  margin: 10px 0;
  .container {
    max-width: 1400px;
    padding: 0;
  }

  .promo__flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

    @media (max-width: variables.$breakpoint-md) {
      gap: 20px;
    }

    &-side {
      width: 25%;
      padding: 10px 20px;
      flex: 1 1 auto;

      @media (max-width: variables.$breakpoint-md) {
        width: 100%;
      }

      .promo__img {
        width: 100%;
        @include mixins.flexCenter;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    &-content {
      width: 50%;
      padding: 10px 20px;
      flex: 1 1 auto;
      text-align: center;

      @media (max-width: variables.$breakpoint-md) {
        width: 100%;
      }

      @media screen and (min-width: variables.$breakpoint-md) and (max-width: variables.$breakpoint-lg) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }

      .promo__hdng {
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        font-family: variables.$font-family-plantin;
      }
    }
  }
}
